*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Vosk-модель (~50 МБ, не коммитим — качается в CI отдельно)
/app/src/main/assets/

# Локальный конфиг Gradle Daemon JVM
/gradle/gradle-daemon-jvm.properties